.App {
  text-align: center;
}

body{
  background-color: #8095be;
  color: white;
}

.coin-container{
  display: flex;
  justify-content: center;
}

.coin-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 1300px;
  background-color: #00040d;
  padding: 0 10px;
}

.coin{
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}
.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.coin h1{
  font-size: 16px;
  width: 150px;
}
.coin img{
  height: 30px;
  width: 30px;
  margin-right: 10px
}




/* .coin-text{
  font-size: 60px;
  background: -webkit-linear-gradient(#0a7870, #740393);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.coin-text{
  font-size: 40px;
}
.coin-search{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px 50px 0;

}
.coin-input{
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(-225deg, #0a7870, #740393);
}
.coin-input::placeholder{
  color: white;
}
.coin-data{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
}

.coin-data p{
  text-align: center
}

.coin-symbol{
  text-transform: uppercase;
  font-size: 14px;
  width: 150px;
}

.red{
  color: red;
}

.green{
  color: green;
}

.bold{
  font-weight: bolder;
}

.purple{
  background-color: #381e3f;
}

.mxwidth{
  min-width: 280px;
}

.black{
  color: black;
}

.mgLeft{
  margin-left: 20px;
}

.sz-5{
  font-size: 36px;
}
